<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/vendor/vue-material.css">
	<link rel="stylesheet" href="/styles/listen.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="/vendor/vue-material.js"></script>
</head>
<body>
	<div id="podcast" v-md-theme="'default'">
		<div v-if="audio">
			<div class="md-display-2" id="description" v-if="podcast">{{ podcast.description }}</div>
			<div>
				<md-button class="md-raised" v-on:click="toggle">{{ paused ? 'Play' : 'Pause' }}</md-button>
				<span class="md-display-1">{{ Math.floor(currentTime) }} / {{ Math.floor(duration) }}</span>
				<md-progress :md-progress="progress"></md-progress>
			</div>
			<div class="volume-control">
				<label for="volume">Volume</label>
				<input v-model="volume" type="range" name="volume" min="0" max="1" step=".01" value="1">
				{{volume}}
			</div>
		</div>
		<div v-else>
			<span>Waiting for podcast audio...</span>
		</div>
	</div>

	<div id="chat">
		<div id="messages">
			<div class="message" v-bind:data-message-id="message._id" v-bind:class="{ mine: (message.author === nickname) }" v-for="message in messages">
				<div class="message-data">
					<span class="md-body-1">{{ message.author }} </span>
					<span class="md-body-1">{{ new Date(message.date).getHours() }}:{{ new Date(message.date).getMinutes() }}</span>
				</div>
				<div class="message">
					<span class="md-caption">{{ message.content }}</span>
				</div>
			</div class="chat-message">
		</div>

		<div id="chatInput">
			<form v-on:submit.prevent>
				<label for="message">Chat: </label>
				<input class="chat-input-field" name="message" type="text"
					v-model.trim="currentMessage"
					v-on:keyup.enter="handleInputKeyup">
			</form>
		</div>
	</div>

	<script>
		Vue.use(VueMaterial);

		Vue.material.theme.register('default', {
			primary: 'cyan',
			accent: 'pink'
		});

		let nickname = localStorage.getItem('nickname');

		if (!nickname) {
			nickname = prompt('Please enter a nickname');

			localStorage.setItem('nickname', nickname);
		}

		const podcastId = window.location.pathname.substr(8);

		const socketAddr = `${window.location.protocol}//${window.location.hostname}:3001`;
		const socket = io.connect(socketAddr);

		socket.emit('join', podcastId);
	</script>
	<script src="/scripts/podcast.js"></script>
	<script src="/scripts/chat.js"></script>
</body>

</html>