#container {
	width: 600px;
	margin: auto;
}

#container > h1 {
	text-align: center;
}

form div {
	margin-bottom: 20px;
}
form label {
	display: inline-block;
	margin-right: 10px;
	text-align: right;
	width: 150px;
}

form input {
	display: inline-block;
	width: 400px;
}

form button {
	border: 1px solid gray;
	float: right;
	padding: 10px;
	margin-right: 30px;
	border-radius: 5px;
	font-size: 1em;
}

form .status-dot {
	background-color: orange;
	border-radius: 100%;
	display: inline-block;
	height: 10px;
	width: 10px;
}

form .status-dot.status-green {
	background-color: green;
}

.podcast-wrapper {
	margin-bottom: 10px;
}

.podcast-title {
	margin-bottom: 3px;
}