#chat {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	height: 95%;
}

#messages {
	height: 95%;
	overflow-y: scroll;
	padding: 5px;
}

#chat .message {
	margin-bottom: 10px;
}

#chat .message.mine {
	text-align: right;
}

#chat .message-data {
	color: gray;
}

#chatInput {
	border-top: 1px solid gray;
	padding: 5px;
}

#chatInput .chat-input-field {
	height: 20px;
	width: 70%;
}