#container {
	width: 600px;
	margin: auto;
}

#container > h1 {
	text-align: center;
}

form > div {
	margin-bottom: 20px;
}
form label {
	display: inline-block;
	width: 150px;
}

form input {
	margin-top: 5px;
	width: 100%;
}

form button {
	border-radius: 5px;
	border: 1px solid gray;
	font-size: 1em;
	margin-right: 30px;
	padding: 12px;
}

form .status-dot {
	background-color: orange;
	border-radius: 100%;
	display: inline-block;
	float: right;
	height: 10px;
	width: 10px;
}

form .status-dot.status-green {
	background-color: green;
}

#podcasts {
	margin-top: 10px;
}

.podcast-wrapper button {
	border-radius: 5px;
	border: 1px solid gray;
	float: right;
	font-size: 1em;
	padding: 12px;
}

.podcast-wrapper {
	border-top: 1px solid gray;
	margin-bottom: 25px;
}

.podcast-title {
	margin-bottom: 3px;
}