#listeners {
	bottom: 0;
	position: absolute;
	right: 405px;
	width: 200px;
}

.listeners-list {
	list-style: none;
}

.listener {
	background-color: #D3D3D3;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 10px;
	text-align: center;
}

#chat {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
}

#messages {
	height: 95%;
	overflow-y: scroll;
	padding: 7px;
}

#chat .message {
	margin-bottom: 10px;
}

#chat .message.mine {
	text-align: right;
}

#chat .message-data {
	color: gray;
}

#chatInput {
	border-top: 1px solid gray;
	padding: 5px;
}

#chatInput .chat-input-field {
	height: 20px;
	width: 70%;
}